@model IPagedList<LojaVirtual.Models.Categoria>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (Categoria categoria in Model)
{
    @categoria.Nome<br />
}

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))