@{
    var todasCategorias = (List<Categoria>)ViewData["todasCategorias"];
    var categoria = (Categoria)ViewData["categoria"];
var categoriasFilhas = todasCategorias.Where(x => x.CategoriaPaiId == categoria.Id).ToList();
}
@if (categoriasFilhas.Any())
{
    <li class="dropdown-submenu">
        <a class="dropdown-item" tabindex="-1" href="#">@categoria.Nome</a>
        <ul class="dropdown-menu">
            @foreach (var categoriaFilha in categoriasFilhas)
            {
                @if (todasCategorias.Where(x => x.CategoriaPaiId == categoriaFilha.Id).Count() > 0)
                {
                    ViewData.Remove("categoria");

                    //Chamada do submenu (Recursividade)
                    @await Html.PartialAsync("~/Views/Shared/Components/Menu/_Submenu.cshtml",
                      new ViewDataDictionary(ViewData) { { "categoria", categoriaFilha } })
                }
                else
                {
                    <li class="dropdown-item"><a href="#">@categoriaFilha.Nome</a></li>
                }

            }
        </ul>
    </li>
}
else
{
    <li class="dropdown-item"><a href="#">@categoria.Nome</a></li>
}